<app-nav-bar></app-nav-bar>
<div class="container mx-auto p-4 flex flex-col gap-4 lg:gap-8">
  <app-pet-list-filters
    [form]="form"
    (formSubmit)="onSubmitFiltersForm()"
    (formReset)="onResetSearch()"
  ></app-pet-list-filters>
  @if (pets(); as pets) {
  <app-pet-list-results [pets]="pets"></app-pet-list-results>
  }
  <ui-paginator
    class="w-full hidden md:block"
    [currentPage]="currentPage()"
    [pageSize]="pageSize()"
    (pageSizeChange)="onPageSizeChange($event)"
    (pageChange)="onPageChange($event)"
  ></ui-paginator>
</div>
